body{
	background-color: #9e9e82;
	padding: 0px;
}

#home_page{
	background-color: #bfbf7e;
	padding-top: 5vh;
	height: 30vh;
	border-radius: 10px;
	margin-left: -300px;
	color: #f5ce64;
}

.welcome{
	color: #525205;
	border-style: dashed;
	border-block-style: ;
	border-radius: 30px;
	margin-top: 100px;
	font-size: 60px;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
}

.btnlogin{
	background-color: #658487;
	color: white;
}
.btnregister{
	background-color: #658487;
	color: whitesmoke;
}


#login_home_page{
	background-color: #658487;
	padding: 50px;
	border-radius: 3px;
	border-radius: 20px;
}
#Register_home_page{
	background-color: #658487;
	padding: 50px;
	border-radius: 3px;
	border-radius: 20px;
}

#header{
	background-color: #878172;
	height: 12vh;
	width: 101vw;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 50px;

}

table{
	margin-top: 50px;
	
}
#left_sidebar{
	
	margin-top: 50px;
	height: 30vh;
	width: 13vw;
	display: inline-block;
	padding-bottom: 10px;
}
#left_sidebar table{
	background-color: #bfbf7e;
	padding-left: 10px;
}
#left_sidebar table tr{
	background-color: #bfbf7e;
	text-decoration: none;
	color: black;
	font-size: 18px;
}

#left_sidebar table tr:hover{
	background-color: #bfbf7e;
	font-size: 20px;
	padding: 20px;
}

.logout_link{
	text-decoration: none;
	color: black;

}

.rrow{
	color: black;
	text-align: center;
	background-color: #bfbf7e;
	text-decoration: none;

}

#vttable{
	border-style: solid;
	border-width: 5px;
	border-radius: 15px;
	background-color:  #bfbf7e;
}